USE [CTSDBINTADM22DF043]
GO
/****** Object:  UserDefinedFunction [dbo].[FunCalAvgSalDeptWise]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FunCalAvgSalDeptWise](@DeptID int)
returns int
AS
BEGIN
declare @AvgSal int
select @AvgSal = AVG(Salary) from tblEmployeeWithSalary where DeptID = @DeptID
return @AvgSal
END
GO
/****** Object:  Table [dbo].[tblDepartment]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartment](
	[DeptId] [int] IDENTITY(101,1) NOT NULL,
	[DeptName] [varchar](30) NOT NULL,
	[DeptLoc] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmpID] [int] IDENTITY(1001,1) NOT NULL,
	[EmpName] [varchar](30) NOT NULL,
	[DeptID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VEmpDetails]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VEmpDetails]
As
select e.EmpID,e.EmpName,e.DeptID,d.DeptName,d.DeptLoc
from tblEmployee e,tblDepartment d where e.DeptID=d.DeptId
GO
/****** Object:  View [dbo].[VtblDepartment]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VtblDepartment]
as
select * from tblDepartment
GO
/****** Object:  View [dbo].[VEtblDepartment]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[VEtblDepartment]
as
select * from tblDepartment
GO
/****** Object:  View [dbo].[VEDtblDepartment]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create view [dbo].[VEDtblDepartment]
as
select * from tblDepartment where DeptId=102
GO
/****** Object:  View [dbo].[VSBDept]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VSBDept]
WITH SCHEMABINDING
as
select Deptid,DeptName,DeptLoc from dbo.tblDepartment
GO
/****** Object:  Table [dbo].[deptdept]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deptdept](
	[DeptId] [int] IDENTITY(1,1001) NOT NULL,
	[DeptName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VSBDeptNew]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VSBDeptNew]
WITH SCHEMABINDING
as
select DeptId,DeptName from dbo.deptdept
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[buyer]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buyer](
	[BuyerId] [int] NOT NULL,
	[BuyerName] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClsEmployees]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClsEmployees](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CellNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ClsEmployees] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClsSkills]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClsSkills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[SkillName] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ExperienceInYears] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ClsSkills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoreEmployees]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoreEmployees](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CellNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CoreEmployees] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoreSkills]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoreSkills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[SkillName] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ExperienceInYears] [int] NOT NULL,
 CONSTRAINT [PK_CoreSkills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryId] [int] NOT NULL,
	[CountryName] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustId] [int] NOT NULL,
	[CustName] [varchar](30) NOT NULL,
	[CustWallet] [int] NOT NULL,
	[CustType] [varchar](10) NOT NULL,
	[CustCity] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dep_mast]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dep_mast](
	[DEPT_NO] [int] NOT NULL,
	[DEP_NAME] [varchar](20) NOT NULL,
	[LOCATION] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DeptId] [int] NOT NULL,
	[DeptName] [varchar](30) NOT NULL,
	[DeptLoc] [varchar](50) NOT NULL,
	[SALARY_RANGE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DEPTNO] [int] IDENTITY(1,1) NOT NULL,
	[DEPTNAME] [varchar](30) NOT NULL,
	[LOCATION] [varchar](30) NOT NULL,
	[SALARY_RANGE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPTNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DyTable]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DyTable](
	[ID] [int] NULL,
	[Name] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EFEmployee]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EFEmployee](
	[EmpId] [int] IDENTITY(1001,1) NOT NULL,
	[FirstName] [varchar](30) NOT NULL,
	[LastName] [varchar](30) NOT NULL,
	[City] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[emp_mast]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp_mast](
	[EMP_NO] [int] NOT NULL,
	[EMP_NAME] [varchar](30) NOT NULL,
	[JOB_NAME] [varchar](20) NOT NULL,
	[MGR_ID] [int] NOT NULL,
	[DEPT_NO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMpInfo]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMpInfo](
	[FKID] [int] NULL,
	[PhoneNumber] [varchar](15) NULL,
	[Address] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpID] [int] IDENTITY(1001,1) NOT NULL,
	[EmpName] [varchar](30) NOT NULL,
	[DeptID] [int] NOT NULL,
	[CourseDuration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpSal]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpSal](
	[ID] [int] NOT NULL,
	[Name] [varchar](30) NULL,
	[Salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HelloSimpleTable]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HelloSimpleTable](
	[HID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEmp]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEmp](
	[EmpID] [int] IDENTITY(1001,1) NOT NULL,
	[EmpName] [varchar](30) NOT NULL,
	[DeptID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewEmp]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewEmp](
	[ID] [int] NOT NULL,
	[Name] [varchar](30) NULL,
	[Salary] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewEmpSal]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewEmpSal](
	[id] [int] NOT NULL,
	[Name] [varchar](30) NULL,
	[Salary] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[productid] [int] NULL,
	[productname] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Description]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Description](
	[PRODCODE] [int] IDENTITY(1,1) NOT NULL,
	[PRODNAME] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductItems]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductItems](
	[ProdId] [int] IDENTITY(1,1) NOT NULL,
	[ProdCode] [varchar](10) NOT NULL,
	[ProdName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductCode] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[ProductPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[CustomerName] [varchar](30) NOT NULL,
	[ProductName] [varchar](30) NOT NULL,
	[Amount] [int] NOT NULL,
	[VendorName] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SimpleTable]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimpleTable](
	[SimpleId] [int] NOT NULL,
	[SimpleName] [varchar](30) NOT NULL,
	[SimpleDescription] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SimpleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SomeEmployee]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SomeEmployee](
	[EmployeeID] [int] IDENTITY(1001,1) NOT NULL,
	[EmployeeName] [varchar](30) NOT NULL,
	[EmployeeDesg] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBDEPARTMENT]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBDEPARTMENT](
	[DEPTNO] [int] IDENTITY(1,1) NOT NULL,
	[DEPTNAME] [varchar](30) NOT NULL,
	[LOCATION] [varchar](30) NOT NULL,
	[SALARY_RANGE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPTNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblConsumer]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblConsumer](
	[ConsumerId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerName] [varchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_tblConsumer] PRIMARY KEY CLUSTERED 
(
	[ConsumerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountry](
	[ID] [int] NOT NULL,
	[CountryName] [varchar](30) NOT NULL,
	[Population] [int] NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomer]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomer](
	[CustID] [int] NOT NULL,
	[CustName] [varchar](30) NULL,
	[ProductName] [varchar](20) NULL,
	[Price] [int] NULL,
	[QTY] [int] NULL,
	[Total] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeAutoID]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeAutoID](
	[EmpID] [int] NOT NULL,
	[EmpName] [varchar](30) NULL,
	[EmpLoc] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployeeWithSalary]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployeeWithSalary](
	[EmpID] [int] IDENTITY(1001,1) NOT NULL,
	[EmpName] [varchar](30) NOT NULL,
	[DeptID] [int] NULL,
	[Salary] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductId] [int] IDENTITY(1001,1) NOT NULL,
	[ProductName] [varchar](30) NOT NULL,
	[Price] [numeric](18, 0) NOT NULL,
	[BrandName] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblProduct] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductDetails]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductDetails](
	[productid] [int] NULL,
	[productname] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductStock]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductStock](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[ProductUinit] [int] NOT NULL,
	[ProductPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_tblProductStock] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblState]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblState](
	[StateID] [int] NOT NULL,
	[CountryId] [int] NULL,
	[StateName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStock]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[QTY] [int] NOT NULL,
	[DOP] [date] NOT NULL,
 CONSTRAINT [PK_tblStock] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[RollNo] [varchar](20) NULL,
	[SEmail] [varchar](20) NULL,
	[SName] [varchar](20) NULL,
	[SClass] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tempdept]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tempdept](
	[DeptId] [int] IDENTITY(1,1001) NOT NULL,
	[DeptName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersProfile]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[DOJ] [datetime2](7) NOT NULL,
	[Designation] [nvarchar](50) NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UsersProfile] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersProfiles]    Script Date: 13-04-2022 10:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersProfiles](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[DOJ] [datetime2](7) NOT NULL,
	[Designation] [nvarchar](50) NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UsersProfiles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211230063206_InitializeMigration', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220118045955_InitializeMigration', N'5.0.13')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220118134855_InitializeMigration', N'5.0.13')
GO
INSERT [dbo].[buyer] ([BuyerId], [BuyerName]) VALUES (1, N'Abhishek')
INSERT [dbo].[buyer] ([BuyerId], [BuyerName]) VALUES (2, N'Manish')
INSERT [dbo].[buyer] ([BuyerId], [BuyerName]) VALUES (3, N'Abhijeet')
GO
SET IDENTITY_INSERT [dbo].[ClsEmployees] ON 

INSERT [dbo].[ClsEmployees] ([EmpID], [FirstName], [LastName], [Password], [CellNumber], [Email]) VALUES (1, N'Aaron', N'Hawkins', N'arron@123', N'(660) 663-4518', N'aron.hawkins@aol.com')
INSERT [dbo].[ClsEmployees] ([EmpID], [FirstName], [LastName], [Password], [CellNumber], [Email]) VALUES (2, N'Hedy', N'Greene', N'hedy@123', N'(608) 265-2215', N'hedy.greene@aol.com')
INSERT [dbo].[ClsEmployees] ([EmpID], [FirstName], [LastName], [Password], [CellNumber], [Email]) VALUES (3, N'Melvin', N'Porter', N'melvin@123', N'(959) 119-8364', N'melvin.porter@aol.com')
SET IDENTITY_INSERT [dbo].[ClsEmployees] OFF
GO
SET IDENTITY_INSERT [dbo].[ClsSkills] ON 

INSERT [dbo].[ClsSkills] ([SkillId], [EmpID], [SkillName], [Role], [ExperienceInYears]) VALUES (1, 1, N'Microsoft Office Suite', N'Business Analyst', 2)
INSERT [dbo].[ClsSkills] ([SkillId], [EmpID], [SkillName], [Role], [ExperienceInYears]) VALUES (2, 1, N'Testing', N'Developer', 3)
INSERT [dbo].[ClsSkills] ([SkillId], [EmpID], [SkillName], [Role], [ExperienceInYears]) VALUES (3, 1, N'Stakeholder Management', N'Project Lead', 4)
SET IDENTITY_INSERT [dbo].[ClsSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[CoreEmployees] ON 

INSERT [dbo].[CoreEmployees] ([EmpID], [FirstName], [LastName], [Password], [CellNumber], [Email]) VALUES (1, N'Aaron', N'Hawkins', N'arron@123', N'(660) 663-4519', N'aron.hawkins@aol.com')
INSERT [dbo].[CoreEmployees] ([EmpID], [FirstName], [LastName], [Password], [CellNumber], [Email]) VALUES (2, N'Hedy', N'Greene', N'hedy@123', N'(608) 265-2215', N'hedy.greene@aol.com')
INSERT [dbo].[CoreEmployees] ([EmpID], [FirstName], [LastName], [Password], [CellNumber], [Email]) VALUES (3, N'Melvin', N'Porter', N'melvin@123', N'(959) 119-8364', N'melvin.porter@aol.com')
SET IDENTITY_INSERT [dbo].[CoreEmployees] OFF
GO
SET IDENTITY_INSERT [dbo].[CoreSkills] ON 

INSERT [dbo].[CoreSkills] ([SkillId], [EmpID], [SkillName], [Role], [ExperienceInYears]) VALUES (1, 1, N'Microsoft Office Suite', N'Business Analyst', 2)
INSERT [dbo].[CoreSkills] ([SkillId], [EmpID], [SkillName], [Role], [ExperienceInYears]) VALUES (2, 1, N'Testing', N'Developer', 3)
INSERT [dbo].[CoreSkills] ([SkillId], [EmpID], [SkillName], [Role], [ExperienceInYears]) VALUES (3, 1, N'Stakeholder Management', N'Project Lead', 4)
SET IDENTITY_INSERT [dbo].[CoreSkills] OFF
GO
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (1, N'India')
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (2, N'Thailand')
INSERT [dbo].[Country] ([CountryId], [CountryName]) VALUES (3, N'Nepal')
GO
INSERT [dbo].[Customer] ([CustId], [CustName], [CustWallet], [CustType], [CustCity]) VALUES (1001, N'Praveen', 1000, N'GOLD', N'Nashik')
INSERT [dbo].[Customer] ([CustId], [CustName], [CustWallet], [CustType], [CustCity]) VALUES (1002, N'Anurag Yadav', 999, N'GOLD', N'Meerut')
INSERT [dbo].[Customer] ([CustId], [CustName], [CustWallet], [CustType], [CustCity]) VALUES (1003, N'SILPA MS', 1199, N'GOLD', N'Meerut')
GO
INSERT [dbo].[dep_mast] ([DEPT_NO], [DEP_NAME], [LOCATION]) VALUES (15, N'FINANCE', N'PARIS')
INSERT [dbo].[dep_mast] ([DEPT_NO], [DEP_NAME], [LOCATION]) VALUES (25, N'MARKETING', N'LONDON')
INSERT [dbo].[dep_mast] ([DEPT_NO], [DEP_NAME], [LOCATION]) VALUES (35, N'HR', N'DELHI')
GO
INSERT [dbo].[Department] ([DeptId], [DeptName], [DeptLoc], [SALARY_RANGE]) VALUES (1, N'IT', N'Bangalore', N'IT')
INSERT [dbo].[Department] ([DeptId], [DeptName], [DeptLoc], [SALARY_RANGE]) VALUES (2, N'HR', N'Hydrabad', N'10000-15000')
INSERT [dbo].[Department] ([DeptId], [DeptName], [DeptLoc], [SALARY_RANGE]) VALUES (3, N'SD', N'Bangalore', N'SD')
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENTS] ON 

INSERT [dbo].[DEPARTMENTS] ([DEPTNO], [DEPTNAME], [LOCATION], [SALARY_RANGE]) VALUES (1, N'HR', N'GURGAON', N'10000-15000')
INSERT [dbo].[DEPARTMENTS] ([DEPTNO], [DEPTNAME], [LOCATION], [SALARY_RANGE]) VALUES (2, N'NETWORKING', N'PUNE', N'10000-12000')
INSERT [dbo].[DEPARTMENTS] ([DEPTNO], [DEPTNAME], [LOCATION], [SALARY_RANGE]) VALUES (3, N'DEVELOPMENT', N'CHENNAI', N'25000-50000')
SET IDENTITY_INSERT [dbo].[DEPARTMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[deptdept] ON 

INSERT [dbo].[deptdept] ([DeptId], [DeptName]) VALUES (1, N'DEVOPS')
SET IDENTITY_INSERT [dbo].[deptdept] OFF
GO
SET IDENTITY_INSERT [dbo].[EFEmployee] ON 

INSERT [dbo].[EFEmployee] ([EmpId], [FirstName], [LastName], [City]) VALUES (1001, N'Abhee', N'Vasani', N'Gujarat')
INSERT [dbo].[EFEmployee] ([EmpId], [FirstName], [LastName], [City]) VALUES (1003, N'Anurag', N'Yadav', N'Meerut')
INSERT [dbo].[EFEmployee] ([EmpId], [FirstName], [LastName], [City]) VALUES (1004, N'Sukesh', N'Kumar', N'Patna')
SET IDENTITY_INSERT [dbo].[EFEmployee] OFF
GO
INSERT [dbo].[emp_mast] ([EMP_NO], [EMP_NAME], [JOB_NAME], [MGR_ID], [DEPT_NO]) VALUES (1234, N'Alex', N'Clerk', 4567, 15)
INSERT [dbo].[emp_mast] ([EMP_NO], [EMP_NAME], [JOB_NAME], [MGR_ID], [DEPT_NO]) VALUES (2345, N'Jack', N'Consultant', 3456, 25)
INSERT [dbo].[emp_mast] ([EMP_NO], [EMP_NAME], [JOB_NAME], [MGR_ID], [DEPT_NO]) VALUES (3456, N'Paul', N'Manager', 1234, 15)
GO
INSERT [dbo].[EMpInfo] ([FKID], [PhoneNumber], [Address]) VALUES (1, N'8888888888', N'Chennai')
INSERT [dbo].[EMpInfo] ([FKID], [PhoneNumber], [Address]) VALUES (2, N'8888888888', N'Gandhi Nagar ')
INSERT [dbo].[EMpInfo] ([FKID], [PhoneNumber], [Address]) VALUES (3, N'8888888888', N'Mumbai')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmpID], [EmpName], [DeptID], [CourseDuration]) VALUES (1001, N'Mounika', 2, NULL)
INSERT [dbo].[Employee] ([EmpID], [EmpName], [DeptID], [CourseDuration]) VALUES (1003, N'Jesna', 6, NULL)
INSERT [dbo].[Employee] ([EmpID], [EmpName], [DeptID], [CourseDuration]) VALUES (1004, N'Swati', 6, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[EmpSal] ([ID], [Name], [Salary]) VALUES (1, N'Sanskriti', 100)
INSERT [dbo].[EmpSal] ([ID], [Name], [Salary]) VALUES (2, N'Abhee', 150)
INSERT [dbo].[EmpSal] ([ID], [Name], [Salary]) VALUES (3, N'Swara', 200)
GO
SET IDENTITY_INSERT [dbo].[NEmp] ON 

INSERT [dbo].[NEmp] ([EmpID], [EmpName], [DeptID]) VALUES (1002, N'Ankita', 105)
INSERT [dbo].[NEmp] ([EmpID], [EmpName], [DeptID]) VALUES (1005, N'Jordan', 105)
SET IDENTITY_INSERT [dbo].[NEmp] OFF
GO
INSERT [dbo].[NewEmpSal] ([id], [Name], [Salary]) VALUES (1, N'Sanskriti', 100)
INSERT [dbo].[NewEmpSal] ([id], [Name], [Salary]) VALUES (2, N'Abhee', 150)
INSERT [dbo].[NewEmpSal] ([id], [Name], [Salary]) VALUES (3, N'Swara', 200)
GO
INSERT [dbo].[product] ([productid], [productname]) VALUES (1000, N'PROD1000')
INSERT [dbo].[product] ([productid], [productname]) VALUES (1001, N'PROD1001')
INSERT [dbo].[product] ([productid], [productname]) VALUES (1002, N'PROD1002')
GO
SET IDENTITY_INSERT [dbo].[Product_Description] ON 

INSERT [dbo].[Product_Description] ([PRODCODE], [PRODNAME]) VALUES (1, N'PRONAME1000')
INSERT [dbo].[Product_Description] ([PRODCODE], [PRODNAME]) VALUES (2, N'PRONAME1001')
INSERT [dbo].[Product_Description] ([PRODCODE], [PRODNAME]) VALUES (3, N'PRONAME1002')
GO
SET IDENTITY_INSERT [dbo].[Product_Description] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductItems] ON 

INSERT [dbo].[ProductItems] ([ProdId], [ProdCode], [ProdName]) VALUES (1, N'PRC1002', N'PNAME1002')
INSERT [dbo].[ProductItems] ([ProdId], [ProdCode], [ProdName]) VALUES (2, N'PRC1003', N'PNAME1003')
INSERT [dbo].[ProductItems] ([ProdId], [ProdCode], [ProdName]) VALUES (3, N'PRC1004', N'PNAME1004')
GO
SET IDENTITY_INSERT [dbo].[ProductItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductCode], [ProductName], [ProductPrice]) VALUES (101, N'Speakers', CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductCode], [ProductName], [ProductPrice]) VALUES (102, N'Desktops', CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[Products] ([ProductCode], [ProductName], [ProductPrice]) VALUES (103, N'Laptops', CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Sales] ([CustomerName], [ProductName], [Amount], [VendorName]) VALUES (N'Aaron Hawkins', N'Shoes', 4500, N'Puma')
INSERT [dbo].[Sales] ([CustomerName], [ProductName], [Amount], [VendorName]) VALUES (N'Hedy Greene', N'Bag', 2500, N'Puma')
INSERT [dbo].[Sales] ([CustomerName], [ProductName], [Amount], [VendorName]) VALUES (N'Melvin Porter', N'Perfume', 1999, N'Archies')
GO
SET IDENTITY_INSERT [dbo].[SomeEmployee] ON 

INSERT [dbo].[SomeEmployee] ([EmployeeID], [EmployeeName], [EmployeeDesg]) VALUES (1001, N'Abhishek', N'Trainer')
SET IDENTITY_INSERT [dbo].[SomeEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[TBDEPARTMENT] ON 

INSERT [dbo].[TBDEPARTMENT] ([DEPTNO], [DEPTNAME], [LOCATION], [SALARY_RANGE]) VALUES (1, N'HR', N'GURGAON', N'10000-15000')
INSERT [dbo].[TBDEPARTMENT] ([DEPTNO], [DEPTNAME], [LOCATION], [SALARY_RANGE]) VALUES (2, N'NETWORKING', N'PUNE', N'10000-12000')
INSERT [dbo].[TBDEPARTMENT] ([DEPTNO], [DEPTNAME], [LOCATION], [SALARY_RANGE]) VALUES (3, N'DEVELOPMENT', N'CHENNAI', N'25000-50000')
SET IDENTITY_INSERT [dbo].[TBDEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[tblConsumer] ON 

INSERT [dbo].[tblConsumer] ([ConsumerId], [ConsumerName], [ProductId]) VALUES (1, N'Abhishek', 1)
INSERT [dbo].[tblConsumer] ([ConsumerId], [ConsumerName], [ProductId]) VALUES (3, N'Aman', 2)
INSERT [dbo].[tblConsumer] ([ConsumerId], [ConsumerName], [ProductId]) VALUES (6, N'Shishir', 1)
SET IDENTITY_INSERT [dbo].[tblConsumer] OFF
GO
INSERT [dbo].[tblCountry] ([ID], [CountryName], [Population], [Year]) VALUES (1, N'India', 1000, 1990)
INSERT [dbo].[tblCountry] ([ID], [CountryName], [Population], [Year]) VALUES (2, N'Nepal', 200, 1990)
INSERT [dbo].[tblCountry] ([ID], [CountryName], [Population], [Year]) VALUES (3, N'India', 1500, 1991)
GO
INSERT [dbo].[tblCustomer] ([CustID], [CustName], [ProductName], [Price], [QTY], [Total]) VALUES (1, N'Abhishek', NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCustomer] ([CustID], [CustName], [ProductName], [Price], [QTY], [Total]) VALUES (2, N'Kiran', NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCustomer] ([CustID], [CustName], [ProductName], [Price], [QTY], [Total]) VALUES (3, N'Abhishek', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblDepartment] ON 

INSERT [dbo].[tblDepartment] ([DeptId], [DeptName], [DeptLoc]) VALUES (101, N'IT', N'Bangalore')
INSERT [dbo].[tblDepartment] ([DeptId], [DeptName], [DeptLoc]) VALUES (102, N'HR', N'Hydrabad')
INSERT [dbo].[tblDepartment] ([DeptId], [DeptName], [DeptLoc]) VALUES (103, N'SD', N'Bangalore')
SET IDENTITY_INSERT [dbo].[tblDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmpID], [EmpName], [DeptID]) VALUES (1001, N'Abhee', 101)
INSERT [dbo].[tblEmployee] ([EmpID], [EmpName], [DeptID]) VALUES (1002, N'Ankita', 105)
INSERT [dbo].[tblEmployee] ([EmpID], [EmpName], [DeptID]) VALUES (1005, N'Jordan', 105)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
GO
INSERT [dbo].[tblEmployeeAutoID] ([EmpID], [EmpName], [EmpLoc]) VALUES (1001, N'Mayank', N'BTM')
INSERT [dbo].[tblEmployeeAutoID] ([EmpID], [EmpName], [EmpLoc]) VALUES (1002, N'Abhishek', N'Delhi')
INSERT [dbo].[tblEmployeeAutoID] ([EmpID], [EmpName], [EmpLoc]) VALUES (1003, N'Abhishek''s Sharma', N'Delhi')
GO
SET IDENTITY_INSERT [dbo].[tblEmployeeWithSalary] ON 

INSERT [dbo].[tblEmployeeWithSalary] ([EmpID], [EmpName], [DeptID], [Salary]) VALUES (1001, N'Abhee', 101, 1500)
INSERT [dbo].[tblEmployeeWithSalary] ([EmpID], [EmpName], [DeptID], [Salary]) VALUES (1002, N'Ankita', 105, 2500)
INSERT [dbo].[tblEmployeeWithSalary] ([EmpID], [EmpName], [DeptID], [Salary]) VALUES (1005, N'Jordan', 105, 3000)
SET IDENTITY_INSERT [dbo].[tblEmployeeWithSalary] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

INSERT [dbo].[tblProduct] ([ProductId], [ProductName], [Price], [BrandName]) VALUES (1001, N'Laptop', CAST(25000 AS Numeric(18, 0)), N'HP')
INSERT [dbo].[tblProduct] ([ProductId], [ProductName], [Price], [BrandName]) VALUES (1002, N'HDD', CAST(4500 AS Numeric(18, 0)), N'Segate')
INSERT [dbo].[tblProduct] ([ProductId], [ProductName], [Price], [BrandName]) VALUES (1003, N'SSD', CAST(4500 AS Numeric(18, 0)), N'Segate')
SET IDENTITY_INSERT [dbo].[tblProduct] OFF
GO
INSERT [dbo].[tblProductDetails] ([productid], [productname]) VALUES (1000, N'PROD1000')
INSERT [dbo].[tblProductDetails] ([productid], [productname]) VALUES (1001, N'PROD1001')
INSERT [dbo].[tblProductDetails] ([productid], [productname]) VALUES (1002, N'PROD1002')
GO
SET IDENTITY_INSERT [dbo].[tblProductStock] ON 

INSERT [dbo].[tblProductStock] ([ProductId], [ProductName], [ProductUinit], [ProductPrice]) VALUES (1, N'Laptop', 30, CAST(45000 AS Decimal(18, 0)))
INSERT [dbo].[tblProductStock] ([ProductId], [ProductName], [ProductUinit], [ProductPrice]) VALUES (2, N'Speakers', 20, CAST(35000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[tblProductStock] OFF
GO
INSERT [dbo].[tblState] ([StateID], [CountryId], [StateName]) VALUES (1, 1, N'Karnataka')
INSERT [dbo].[tblState] ([StateID], [CountryId], [StateName]) VALUES (2, 1, N'TamilNadu')
INSERT [dbo].[tblState] ([StateID], [CountryId], [StateName]) VALUES (3, 2, N'Pochinki')
GO
SET IDENTITY_INSERT [dbo].[tblStock] ON 

INSERT [dbo].[tblStock] ([StockID], [ProductId], [QTY], [DOP]) VALUES (1, 1003, 50, CAST(N'2021-11-08' AS Date))
SET IDENTITY_INSERT [dbo].[tblStock] OFF
GO
SET IDENTITY_INSERT [dbo].[tempdept] ON 

INSERT [dbo].[tempdept] ([DeptId], [DeptName]) VALUES (1, N'DEVOPS')
SET IDENTITY_INSERT [dbo].[tempdept] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersProfile] ON 

INSERT [dbo].[UsersProfile] ([UserId], [UserName], [DOJ], [Designation], [ImageName]) VALUES (3, N'Abhishek Sharma', CAST(N'2022-01-19T13:18:00.0000000' AS DateTime2), N'MCT', N'ContactPerson220221905644.jpg')
INSERT [dbo].[UsersProfile] ([UserId], [UserName], [DOJ], [Designation], [ImageName]) VALUES (4, N'Swarali Gaikwad', CAST(N'2022-02-18T10:23:00.0000000' AS DateTime2), N'PAT', N'ContactPerson320222603762.jpg')
INSERT [dbo].[UsersProfile] ([UserId], [UserName], [DOJ], [Designation], [ImageName]) VALUES (5, N'Abhishek Sharma', CAST(N'2022-02-23T21:00:00.0000000' AS DateTime2), N'MCT', N'ContactPerson120220048557.jpg')
SET IDENTITY_INSERT [dbo].[UsersProfile] OFF
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [Default_CourseDuration]  DEFAULT ((40)) FOR [CourseDuration]
GO
ALTER TABLE [dbo].[ClsSkills]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClsSkills_dbo.ClsEmployees_EmpID] FOREIGN KEY([EmpID])
REFERENCES [dbo].[ClsEmployees] ([EmpID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClsSkills] CHECK CONSTRAINT [FK_dbo.ClsSkills_dbo.ClsEmployees_EmpID]
GO
ALTER TABLE [dbo].[CoreSkills]  WITH CHECK ADD  CONSTRAINT [FK_CoreSkills_CoreEmployees_EmpID] FOREIGN KEY([EmpID])
REFERENCES [dbo].[CoreEmployees] ([EmpID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CoreSkills] CHECK CONSTRAINT [FK_CoreSkills_CoreEmployees_EmpID]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [Fk_DepartmentID] FOREIGN KEY([DeptID])
REFERENCES [dbo].[Department] ([DeptId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [Fk_DepartmentID]
GO
ALTER TABLE [dbo].[tblConsumer]  WITH CHECK ADD  CONSTRAINT [FK_tblConsumer_tblProductStock] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tblProductStock] ([ProductId])
GO
ALTER TABLE [dbo].[tblConsumer] CHECK CONSTRAINT [FK_tblConsumer_tblProductStock]
GO
ALTER TABLE [dbo].[tblEmployee]  WITH CHECK ADD FOREIGN KEY([DeptID])
REFERENCES [dbo].[tblDepartment] ([DeptId])
GO
ALTER TABLE [dbo].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [Fk_DeptID] FOREIGN KEY([DeptID])
REFERENCES [dbo].[tblDepartment] ([DeptId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblEmployee] CHECK CONSTRAINT [Fk_DeptID]
GO
ALTER TABLE [dbo].[tblStock]  WITH CHECK ADD  CONSTRAINT [FK_tblStock_tblProduct] FOREIGN KEY([ProductId])
REFERENCES [dbo].[tblProduct] ([ProductId])
GO
ALTER TABLE [dbo].[tblStock] CHECK CONSTRAINT [FK_tblStock_tblProduct]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [check_duration] CHECK  (([CourseDuration]>=(40)))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [check_duration]
GO
/****** Object:  StoredProcedure [dbo].[PCreateDynamicTable]    Script Date: 13-04-2022 10:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PCreateDynamicTable]
@tblName varchar(30),
@FirstCalName varchar(30),
@FirstCalDatatype varchar(30),
@SecondCalName varchar(30),
@SecondCalDatatype varchar(30)
As
BEGIN
DECLARE @sqlstring varchar(100)
--set @sqlstring = 'create table' + CAST(@tblName as varchar(30)) +
set @sqlstring = 'create table ' + @tblName +
 '('+@FirstCalName+' '+@FirstCalDatatype+','+@SecondCalName+' '+@SecondCalDatatype+')'
exec (@sqlstring)
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEmployee]    Script Date: 13-04-2022 10:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spAddEmployee]
@EmpName varchar(30),--IN PARAMTER
@DeptID int-- IN PARAMETER
AS
BEGIN
insert into tblEmployee values (@EmpName,@DeptID)
END
GO
/****** Object:  StoredProcedure [dbo].[SPAddEmployeeAutoID]    Script Date: 13-04-2022 10:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPAddEmployeeAutoID]
@EmpName varchar(30),
@EmpLoc varchar(20)
as
begin
declare @varid int
declare @rcount int

select  @varid = max(empid),@rcount=@@ROWCOUNT from  tblEmployeeAutoID
	if  @varid is null
	begin
	insert into tblEmployeeAutoID values (1001,@EmpName,@EmpLoc)
	end
	else    
	begin
	set @varid = @varid + 1
	insert into tblEmployeeAutoID values (@varid,@EmpName,@EmpLoc)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[spouttypeselectEmployee]    Script Date: 13-04-2022 10:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spouttypeselectEmployee]
--add parameter to this procedure
@EmpID int,--INPUT PARAMETER
@EmpName varchar(30),--INPUT PARAMETER
@CurrentDateTime datetime output  --OUT PUT PARAMETER
AS
BEGIN
	set @CurrentDateTime = GETDATE()
	select * from tblEmployee where EmpID = @EmpID and  EmpName = @EmpName
	return @@rowcount
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spshowemployeedetails]    Script Date: 13-04-2022 10:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spshowemployeedetails]
AS
BEGIN
SELECT e.EmpID, e.EmpName, e.DeptID, d.DeptName, d.DeptLoc
FROM dbo.tblEmployee AS e INNER JOIN
dbo.tblDepartment AS d ON e.DeptID = d.DeptId
END
GO
